/* Base */
@import url('base/_tokens.css');
@import url('base/_reset.css');
@import url('base/_typography.css');
@import url('base/_animations.css');

/* Layout */
@import url('layout/_layout.css');

/* Components */
@import url('components/_search-box.css');
@import url('components/_alert-box.css');
@import url('components/_result-card.css');
@import url('components/_loading.css');

/* Vendor */
@import url('vendor/_blazor.css');

/* Responsive (deve vir por ultimo) */
@import url('layout/_responsive.css');
